@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:SpeedeeK;
    font-weight:400;
    font-style:normal;
    src: url(./fonts/Speedee_K_L.eot);
    src: url(./fonts/Speedee_K_L.eot#iefix) format('embedded-opentype'),
         url(./fonts/Speedee_K_L.woff) format('woff'),
         url(./fonts/Speedee_K_L.ttf) format('truetype'),
         url(./fonts/Speedee_K_L.svg#webfont) format('svg')}
  @font-face {
    font-family:SpeedeeK;
    font-weight:500;
    font-style:normal;
    src: url(./fonts/Speedee_K_R.eot);
    src: url(./fonts/Speedee_K_R.eot#iefix) format('embedded-opentype'),
         url(./fonts/Speedee_K_R.woff) format('woff'),
         url(./fonts/Speedee_K_R.ttf) format('truetype'),
         url(./fonts/Speedee_K_R.svg#webfont) format('svg')}
  @font-face {
    font-family:SpeedeeK;
    font-weight:600;
    font-style:normal;
    src: url(./fonts/Speedee_K_B.eot);
    src: url(./fonts/Speedee_K_B.eot#iefix) format('embedded-opentype'),
         url(./fonts/Speedee_K_B.woff) format('woff'),
         url(./fonts/Speedee_K_B.ttf) format('truetype'),
         url(./fonts/Speedee_K_B.svg#webfont) format('svg')}

*{margin: 0; padding: 0; font-family: SpeedeeK, Malgun Gothic,'맑은 고딕', Dotum,'돋움', Arial, sans-serif;}
ul,li{list-style: none;}
a{text-decoration: none; color: black;}

.swiper-button-next:after, .swiper-button-prev:after {position: absolute; color: #fff;}
.swiper-button-next:after {right: 100%;}
.swiper-button-prev:after {left: 100%;}
.swiper-pagination-bullet{
     --swiper-pagination-bullet-inactive-color : #fff !important;
}
.swiper-pagination-bullet-active {
     --swiper-theme-color: rgba(255, 255, 255, 0.8);
     --swiper-pagination-bullet-width: 40px;
     --swiper-pagination-bullet-height: 12px;
     --swiper-pagination-bullet-border-radius: 10px;
}     

.facebook{background: url(../public/Images/ico_sns.png) 0 0 no-repeat; width: 40px; height: 40px; overflow: hidden; }
.instagram{background: url(../public/Images/ico_sns.png) 0 -40px no-repeat; width: 40px; height: 40px; overflow: hidden; }
.youtube{background: url(../public/Images/ico_sns.png) 0 -80px no-repeat; width: 40px; height: 40px; overflow: hidden; }
.kakaostory{background: url(../public/Images/ico_sns.png) 0 -120px no-repeat; width: 40px; height: 40px; overflow: hidden; }